.categories {
    display: flex;
    text-align: center;
    justify-content: space-between;
    max-width: 828px;
    padding: 0;

    li {
        padding: 14px 30px;
        border-radius: 30px;
        margin-right: 9px;
        margin-top: 10px;
        background-color: rgba(249, 249, 249, 1);
        transition: 0.3s;
        cursor: pointer;

        &:hover {
            background-color: rgb(224, 224, 224);
        }
    }
}

@media (max-width: 820px) {
    .category {
        width: 100%;
        overflow: scroll;
    }
}

.categories {
    .active {
        background-color: rgba(40, 40, 40, 1);
        color:rgba(255, 255, 255, 1);
    }
}